<h1>{{ (heroId ? 'titleUpdateHero' : 'titleCreateHero') | translate }}</h1>
<p-confirmDialog></p-confirmDialog>
<form [formGroup]="heroForm">
  <div class="p-fluid">
    <div class="p-field">
      <label for="name">{{ 'infoHero.name' | translate | titlecase }}</label>
      <input id="name" type="text" pInputText formControlName="name" />
      <div *ngIf="heroForm.get('name')?.invalid && heroForm.get('name')?.touched" class="p-error">
        {{ 'formErrors.requiredName' | translate }}
      </div>
    </div>

    <div class="p-field">
      <label for="age">{{ 'infoHero.age' | translate | titlecase }}</label>
      <input id="age" type="number" pInputText formControlName="age" />
      <div *ngIf="heroForm.get('age')?.invalid && heroForm.get('age')?.touched" class="p-error">
        {{ 'formErrors.requiredAge' | translate }}
      </div>
    </div>

    <div class="p-field">
      <label for="creator">{{ 'infoHero.creator' | translate | titlecase }}</label>
      <input id="creator" type="text" pInputText formControlName="creator" />
      <div *ngIf="heroForm.get('creator')?.invalid && heroForm.get('creator')?.touched" class="p-error">
        {{ 'formErrors.requiredCreator' | translate }}
      </div>
    </div>

    <div class="p-field">
      <label for="curiosity">{{ 'infoHero.curiosity' | translate | titlecase }}</label>
      <textarea id="curiosity" pInputText formControlName="curiosity"></textarea>
    </div>
  </div>

</form>
<p-button class="btn" label="{{ 'actions.save' | translate }}" [disabled]="heroForm.invalid" (click)="addNewHero()"></p-button>
<p-button class="btn" label="{{ 'actions.cancel' | translate }}" severity="secondary" (click)="backToList()"></p-button>