<button pButton label="Ir al listado" [routerLink]="'/'"></button>
<form [formGroup]="heroForm">
  <div class="p-fluid">
    <div class="p-field">
      <label for="name">Nombre</label>
      <input id="name" type="text" pInputText formControlName="name" />
      <div *ngIf="heroForm.get('name')?.invalid && heroForm.get('name')?.touched" class="p-error">
        El nombre es obligatorio.
      </div>
    </div>

    <div class="p-field">
      <label for="age">Edad</label>
      <input id="age" type="number" pInputText formControlName="age" />
      <div *ngIf="heroForm.get('age')?.invalid && heroForm.get('age')?.touched" class="p-error">
        La edad es obligatoria y debe ser un número mayor o igual a 0.
      </div>
    </div>

    <div class="p-field">
      <label for="creator">Creador</label>
      <input id="creator" type="text" pInputText formControlName="creator" />
      <div *ngIf="heroForm.get('creator')?.invalid && heroForm.get('creator')?.touched" class="p-error">
        El creador es obligatorio.
      </div>
    </div>

    <div class="p-field">
      <label for="curiosity">Curiosidad</label>
      <textarea id="curiosity" pInputText formControlName="curiosity"></textarea>
    </div>
  </div>

</form>
<button pButton [disabled]="heroForm.invalid" label="Guardar" (click)="addNewHero()"></button>
<button pButton  label="Cancelar" (click)="backToList()"></button>