/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-dark-blue/theme.css";
@import "primeicons/primeicons.css";
// html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.btn {
  margin: 0 10px 10px 0;
}